.page-academy {

    .hero {

        &__wrapper {
            max-width: 464px;
            padding-top: 50px;

            @include laptop {
                max-width: 350px;
            }

            @include tablet {
                padding-top: 30px;
                max-width: 340px;
            }

            @include phone-big {
                max-width: none;
                padding-top: 0;
            }
        }

        &__logo {
            display: block;

            width: 433px;
            margin-bottom: 40px;

            @include laptop-big {
                margin-bottom: 30px;
            }

            @include laptop {
                width: 350px;
            }

            @include tablet {
                width: 300px;
            }

            @include phone-big {
                max-width: 269px;
                margin-bottom: 20px;
            }
        }

        &__text {
            margin-bottom: 65px;

            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 135%;
            color: #001B20;

            @include laptop {
                margin-bottom: 45px;
            }

            @include phone-big {
                margin-bottom: 10px;
            }
        }

        &__btn {
            margin: 0 auto;

            @include phone-big {
                margin: 0;
                margin-left: auto
            }
        }

        &__img {
            position: absolute;
            right: 0;
            top: -90px;

            display: block;
            pointer-events: none;

            @include laptop {
                top: -30px;
                width: 560px;
            }

            @include tablet {
                top: -30px;
                width: 400px;
            }

            @include phone-big {
                position: relative;
                left: 50%;
                width: 150%;
                top: 0;

                transform: translateX(-50%);
            }
        }
    }

    .faq {

        &__wrapper {
            margin-top: 60px;

            @include tablet {
                margin-top: 40px;
            }

            @include phone-big {
                margin-top: 20px;
            }
        }
    }

    .choice {

        &__wrapper {
            margin-top: 60px;

            @include tablet {
                margin-bottom: 40px;
            }

            @include phone-big {
                margin-top: 20px;
            }
        }

        &__grid {
            display: flex;
            column-gap: 24px;
            max-width: 100%;

            @include phone-big {
                flex-wrap: wrap;
                row-gap: 16px;
            }
        }

        &__item {
            width: calc((100% - 24px - 24px) / 3);

            @include phone-big {
                width: 100%;
            }
        }
    }

    .footer-img {
        position: relative;

        padding-top: 60px;

        @include laptop-big {
            padding-top: 40px;
        }

        @include phone-big {
            display: none;
        }

        &__img {
            display: block;

            margin: 0 auto;
            max-width: 100%;
        }
    }
}