.card-banner {
    position: relative;

    display: block;

    padding: 56px;
    border-radius: 16px;
    background-color: #001B20;
    color: #fff;

    transition: .4s all cubic-bezier(0.175, 0.885, 0.32, 1.275);
    overflow: hidden;

    @include laptop-big {
        padding: 45px;
    }

    @include phone-big {
        padding: 24px;
        padding-top: 40px;
    }

    &:hover {
        background-color: var(--c-2);
        transition: .4s all cubic-bezier(0.175, 0.885, 0.32, 1.275);

        .card-banner {

            &__link-img {
                display: none;

                &_hover {
                    display: block;
                }
            }

            &__back-img {
                &_hover {
                    opacity: 1;
                    visibility: visible;
                }
            }
        }
    }

    &__header {
        position: relative;
        z-index: 2;

        user-select: none;
    }

    &__logo {
        display: flex;
        align-items: center;
    }

    &__logo-glass {
        display: flex;
        align-items: center;

        width: 166px;
        margin-top: 6px;
        margin-right: 16px;

        @include phone-big {
            width: 85px;
            margin-right: 8px;
            margin-top: 5px;
        }
    }

    &__logo-img {
        display: block;
        width: 100%;
    }

    &__logo-text {
        font-style: normal;
        font-weight: 600;
        font-size: 54px;
        line-height: 1;
        color: #FFFFFF;

        @include laptop-big {
            font-size: 48px;
        }

        @include phone-big {
            font-size: 28px;
        }
    }

    &__body {
        position: relative;
        z-index: 2;

        display: flex;
        justify-content: space-between;
        align-items: flex-end;

        margin-top: 195px;

        user-select: none;

        @include phone-big {
            flex-direction: column;
            margin-top: 20px;
        }
    }

    &__link-img {
        display: block;

        &_hover {
            display: none;
        }
    }

    &__text {
        max-width: 520px;

        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 135%;
        color: #FFFFFF;

        &_minified {
            max-width: 490px;
        }

        @include phone-big {
            font-size: 14px;
        }
    }

    &__back-glass {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 400px;
        z-index: 1;

        height: 100%;

        pointer-events: none;
        user-select: none;

        overflow: hidden;

        @include tablet {
            left: 200px;
        }

        @include phone-big {
            top: unset;
            left: -20%;
            right: 0;
            bottom: 0;
            height: auto;

            width: 130%;
        }
    }

    &__back-img {
        display: block;
        height: 100%;

        pointer-events: none;
        user-select: none;

        @include phone-big {
            height: auto;
            width: 100%;
        }

        &_positioned {
            position: absolute;
            top: 0;
            left: 0;
            z-index: 1;
        }

        &_hover {
            opacity: 0;
            visibility: hidden;

            transition: .25s cubic-bezier(0.075, 0.82, 0.165, 1);
        }
    }

    &__title {
        font-style: normal;
        font-weight: 600;
        font-size: 32px;
        line-height: 135%;
        color: #FFFFFF;

        @include phone-big {
            font-size: 24px;
        }
    }

    &__background {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 1;

        height: 100%;

        pointer-events: none;
        user-select: none;

        overflow: hidden;
    }

    &__background-img {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;

        display: block;
        height: 100%;

        pointer-events: none;
        user-select: none;
    }

    &__timer {
        display: flex;
        align-items: center;

        margin-bottom: 16px;
    }

    &__timer-icon {
        display: block;
        flex-shrink: 0;

        margin-right: 8px;
    }

    &__timer-text {
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 1;
        color: #FFFFFF;
    }

    // gallery section
    &_gallery {
        height: 100%;
        min-height: 400px;

        @include phone-big {
            display: flex;
            flex-direction: column;

            padding-top: 24px;
        }

        &:hover {
            .card-banner__background {
                &:after {
                    background-color: #FC8B2A;
                    opacity: 1;
                }
            }
        }

        .card-banner {
            &__header {
                max-width: 520px;
            }

            &__body {
                margin-top: 90px;

                @include phone-big {
                    display: flex;
                    flex-direction: column;
                    flex-grow: 1;

                    margin-top: 20px;

                }
            }

            &__background {
                &:after {
                    content: '';

                    position: absolute;
                    left: 0;
                    right: 0;
                    top: 0;
                    bottom: 0;
                    z-index: 1;

                    display: block;

                    background-color: #001B20;
                    opacity: 0.5;

                    transition: .3s all cubic-bezier(0.175, 0.885, 0.32, 1.275);
                }
            }

            &__link {
                @include phone-big {
                    display: block;
                    margin-top: auto;
                }
            }
        }
    }


    // connect section
    &_connect {
        display: grid;
        grid-template-columns: 50% 50%;

        background-color: #008AA4;
        box-shadow: 0px 8px 28px -6px rgba(24, 39, 75, 0.12), 0px 18px 88px -4px rgba(24, 39, 75, 0.14);

        @include tablet {
            grid-template-columns: 100%;
        }

        @include phone-big {
            padding: 24px;
        }

        &:hover {
            background-color: #008AA4;
            transition: .4s all cubic-bezier(0.175, 0.885, 0.32, 1.275);

            .card-banner {

                &__link-img {
                    display: none;

                    &_hover {
                        display: block;
                    }
                }

                &__back-img {
                    &_hover {
                        opacity: 1;
                        visibility: visible;
                    }
                }
            }
        }

        .card-banner__body {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: flex-start;

            max-width: 464px;
            margin-top: 0;
            margin-left: auto;
            padding-top: 16px;

            @include tablet {
                flex-direction: row;
                max-width: none;
            }

            @include phone-big {
                padding-top: 60px;
                flex-direction: column
            }
        }

        .card-banner__btn {
            margin-top: 70px;

            @include tablet {
                margin-top: 20px;
                flex-shrink: 0;
            }

            @include phone-big {
                margin-left: auto;
                margin-top: 32px;
            }
        }
    }
}